
 .nav {
  list-style: none;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #A8A8A8;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 300px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
/*   .home-description {
	font-size: 1.4em;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background-color: white;
	color: black;
	
  } */
  
  
  * {
    margin: 0;
    }

html, body {
    height: 100%;
}
/* .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
} */
.footer, .push {
    height: 155px;
	background-color: #444;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	vertical-align: top;
	color: white;
}

.form {
	width: 300px;
    margin: 0 auto;
}

.dropdown-menu {
	width: 500px;
	font-weight: bold;
}

.btn.btn-default.dropdown-toggle.btn-select{
	width: 500px;
	font-weight: bold;
}
.caret {
	text-align: left;
}