{% include "header.html" %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Inspiration
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Our project was inspired by the <a href="https://www.projectoxford.ai/doc/emotion/overview">Microsoft's Project Oxford Emotions API</a>. We were very excited about using this technology, and after discussing some ideas with the Microsoft team we began implementing it to collect data on popular movie trailers.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What It Does
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Comma is a web application that can determine the emotions shown in a video, such as a trailer for a movie, allowing for movies to be ranked based on their emotions. This allows for further analysis, where videos can be ranked and categorized based on the emotions expressed in the trailer.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How We Built It
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        We used OpenCV to process the videos into frames. We then dropped half of the frames to reduce the calls needed. To further reduce the amount of calls needed we used OpenCV to stitch frames into a 2 x 5 array to batch them into one request. We then submitted this batched request to Microsoft's Project Oxford Emotion's API which gave us the confidence index of each face. We then took all the faces that it found and averaged these values together to get the average emotions in the video.
        
        <br /> <br />
        <img src="img/exampleframe.jpg" style="width: 500px;" />
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Challenges We Ran Into
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Project Oxford only allows 10,000 requests per month, with a limit of 20 requests per minute, which would normally be a problem if we made a single request for each frame in the trailer. With each trailer consisting of upwards of 4,000 frames, this would quickly run through our API limits and prevent other movies from being analyzed. In order to get around this issue, we processed a limited selection of frames and made batch requests, allowing us to reduce the number of requests made by 40x.
        <br /> <br />
        The API returns a neutral rating a vast majority of the time. We believe that this is partially due to the api having a preference for rating neutral as well as the fact that most of the time we have more neutral faces rather than exagerated emotions.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Accomplishments We Are Proud Of
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        In a short amount of time our team was able to utilize an new API to get biometric data, create a database to store the data, and design a webpage to demonstrate the technology. Everyone from our team is leaving having learned something new.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What We Learned
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Our team varied in software and Hackathon experience. Some of the technologies that were new to the team included NumPy, OpenCV, Git, Flask, and SQLite. No one on the team had prior experience using the Emotions API and we enjoyed using this unique technology to create tangible data.
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
