{% include "header.html" %}

<!-- DropDown Menu -->
<div class="text-center emotion-search"">
    <form class="form-inline" action="" method="GET">
        <div class="form-group">
            <select name="emotion" id="emotion" class="form-control">
                <option value="anger">Anger</option>
                <option value="contempt">Contempt</option>
                <option value="disgust">Disgust</option>
                <option value="fear">Fear</option>
                <option value="happiness" selected="selected">Happiness</option>
                <option value="neutral">Neutral</option>
                <option value="sadness">Sadness</option>
                <option value="surprise">Surprise</option>
            </select>
        </div>
        <button type="submit" id="btnSearch" class="btn btn-primary">Search Movies</button>
    </form>
</div>

<!-- Table-->

<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Movie Suggestions for {{emotion}}
          </h4>
        </div>
        <table class="table table-fixed table-striped">
          <thead>
            <tr>
              <th class="col-xs-8">Movie Name</th><th class="col-xs-2">Emotion Avg</th>
            </tr>
          </thead>
          <tbody
            {% for movie in movies %}
            <tr>
              <td>
                {{ loop.index }}
              </td>
              <td>
                {{ movie[2] }}
              </td>
              <td>
                {{ "%d" % (movie[1] * 100) }}%
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% include "footer.html" %}
