{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ movie[-2] }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="/img/{{ movie[0] }}.jpg" class="poster">
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{ movie[-1] }}"></iframe>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}