<!DOCTYPE html>
<html lang = "en">

<head>
    <link href="/css/home_style.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Comma</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li {% if request.path == "/" %} class="active" {% endif %}><a href="/">Home</a></li>
        <li {% if request.path == "/demo" %} class="active" {% endif %}><a href="/demo">Demo</a></li>
        <li {% if request.path == "/about" %} class="active" {% endif %}><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tredzko/Comma">GitHub Repository</a></li>
      </ul>
    </div>
  </div>
</nav>